<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Gomoku</title>
    <link type="text/css" rel="stylesheet" href="../static/css/style.css">
    <script src="../static/lib/jquery-3.6.0.min.js"></script>
</head>

<body>

    <h1>Gomoku Playground v0.1</h1>
    <p id="textboard", class="aa">
        
    </p>

    <script>

        $.get("/action/10+10", (data, status) => {
            console.log(data);
            $("#textboard").text(data);
            $(".aa").text(data);
        })

    </script>

</body>

</html>